.ball {
  margin: 1px;
  bottom: -9px;
}

.ball.flip {
  transform: scaleX(-1);
}

.ball {
  display: inline-block;
  position: relative;
  width: 41px;
  height: 41px;
  background-image: url(../img/pokeballs.png);
  background-position: 0 0;
  transform-origin: center bottom;
}

.ball:before {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 8px;
  width: 40%;
  height: 3px;
  border-radius: 100%;
  background: black;
  box-shadow: 0 1px 2px black;
  opacity: 0.3;
}

.poke.ball {
  background-position-x: 0px;
}

.great.ball {
  background-position-x: -41px;
}

.safari.ball {
  background-position-x: -82px;
}

.ultra.ball {
  background-position-x: -123px;
}

.master.ball {
  background-position-x: -164px;
}

.net.ball {
  background-position-x: -205px;
}

.dive.ball {
  background-position-x: -246px;
}

.nest.ball {
  background-position-x: -287px;
}

.repeat.ball {
  background-position-x: -328px;
}

.timer.ball {
  background-position-x: -369px;
}

.luxury.ball {
  background-position-x: -410px;
}

.premier.ball {
  background-position-x: -451px;
}

.dusk.ball {
  background-position-x: -492px;
}

.heal.ball {
  background-position-x: -533px;
}

.quick.ball {
  background-position-x: -574px;
}

.cherish.ball {
  background-position-x: -615px;
}

.fast.ball {
  background-position-x: -656px;
}

.level.ball {
  background-position-x: -697px;
}

.lure.ball {
  background-position-x: -738px;
}

.heavy.ball {
  background-position-x: -779px;
}

.love.ball {
  background-position-x: -820px;
}

.friend.ball {
  background-position-x: -861px;
}

.moon.ball {
  background-position-x: -902px;
}

.sport.ball {
  background-position-x: -943px;
}

.park.ball {
  background-position-x: -984px;
}

.dream.ball {
  background-position-x: -1025px;
}

.beast.ball {
  background-position-x: -1066px;
}

.ball.open {
  background-position-y: -402px;
}

.ball.side {
  background-position-y: -362px;
}

.ball.roll {
  animation: ball-roll 0.88s steps(1) infinite;
}

.ball.rock {
  animation: ball-rock 1.22s steps(1) infinite;
}

@keyframes ball-roll {
  0% {
    background-position-y: 0;
  }
  12.5% {
    background-position-y: -40px;
  }
  25% {
    background-position-y: -80px;
  }
  37.5% {
    background-position-y: -120px;
  }
  50% {
    background-position-y: -160px;
  }
  62.5% {
    background-position-y: -200px;
  }
  75% {
    background-position-y: -240px;
  }
  87.5% {
    background-position-y: -280px;
  }
  100% {
    background-position-y: -320px;
  }
}

@keyframes ball-rock {
  0% {
    background-position-y: 0;
  }
  8.33% {
    background-position-y: -440px;
  }
  16.66% {
    background-position-y: -480px;
  }
  25% {
    background-position-y: -520px;
  }
  33.33% {
    background-position-y: -480px;
  }
  41.66% {
    background-position-y: -440px;
  }
  50% {
    background-position-y: 0px;
  }
  58.33% {
    background-position-y: -560px;
  }
  66.66% {
    background-position-y: -600px;
  }
  75% {
    background-position-y: -640px;
  }
  83.33% {
    background-position-y: -600px;
  }
  91.66% {
    background-position-y: -560px;
  }
  100% {
    background-position-y: 0px;
  }
}
.ball.bounce {
  animation-name: bounce;
}
.ball.bounce:before {
  animation-name: bounce-shadow;
}
.ball.bounce,
.ball.bounce:before {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) scaleY(0.75) scaleX(1.15);

    animation-timing-function: ease-in;
  }
  10% {
    transform: translateY(-10%) scaleY(1) scaleX(1);

    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-120%) scaleY(1.1) scaleX(0.95);

    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(-10%) scaleY(1) scaleX(1);

    animation-timing-function: ease-out;
  }
}

@keyframes bounce-shadow {
  0%,
  100% {
    opacity: 0.4;
    transform: translateY(0) scaleY(1) scaleX(1);
  }
  10%,
  90% {
    opacity: 0;
    transform: translateY(200%) scaleY(0.3) scaleX(0.3);
  }
}
