:root {
  --range-slider: rgba(0, 0, 0, 0.5);

  --range-handle: white;
  --range-handle-inactive: rgba(255, 255, 255, 0.75);
  --range-handle-focus: #0eec85;
  --handle-img: url(../img/overworld-ash.png);
}

.level-slider .rangeSlider .rangeHandle .rangeNub:after {
  content: "";
  position: absolute;
  bottom: 5px;
  top: auto;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 30px;
  height: 30px;
  opacity: 1;
  pointer-events: all;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.level-slider .rangeSlider .rangeHandle .rangeNub:after {
  background-image: var(--handle-img);
}

.level-slider .rangeSlider .rangeHandle:nth-child(1) .rangeNub:after {
  width: 64px;
  height: 64px;
  background-image: var(--handle-img-poke);
  background-position: bottom center;
  transform: translate(-50%, 50%);
}

.health-slider .rangeHandle {
  opacity: 0;
}

.health-slider {
  --range-range: #25e20a;
  --range-range-inactive: var(--range-range);
}

.health-slider.medium {
  --range-range: orange;
  --range-range-inactive: var(--range-range);
}

.health-slider.low {
  --range-range: red;
  --range-range-inactive: var(--range-range);
}