:root {
  --range-slider: rgba(0, 0, 0, 0.5);

  --range-handle: white;
  --range-handle-inactive: rgba(255, 255, 255, 0.75);
  --range-handle-focus: #0eec85;
  --handle-img: url(../img/overworld-ash.png);
}

.level-slider .rangeSlider .rangeHandle .rangeNub:after {
  content: "";
  position: absolute;
  bottom: 5px;
  top: auto;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 30px;
  height: 30px;
  opacity: 1;
  pointer-events: all;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.level-slider .rangeSlider .rangeHandle .rangeNub:after {
  background-image: var(--handle-img);
}

.level-slider .rangeSlider .rangeHandle:nth-child(1) .rangeNub:after {
  width: 64px;
  height: 64px;
  background-image: var(--handle-img-poke);
  background-position: bottom center;
  transform: translate(-50%, 50%);
}


/* health slider */

.health-slider .rangeSlider .rangeHandle .rangeFloat,
.health-slider .rangeSlider .rangeHandle.active .rangeFloat {

  transform: translate(-50%,-50%);
  top: 50%;
  font-size: 14px;
  border-radius: 20px;
  padding: 1px 7px 2px 9px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.health-slider .rangeSlider .rangeHandle .rangeNub,
.health-slider .rangeSlider .rangeHandle::before,
.health-slider .rangeSlider .rangeSlider .rangeHandle.hoverable:hover .rangeFloat {
  opacity: 0!important;
}

.health-slider {
  --range-range: #25e20a;
  --range-range-inactive: var(--range-range);
  --range-float: var(--range-range);
  --range-float-text: var(--bg);
}

.health-slider.medium {
  --range-range: orange;
  --range-range-inactive: var(--range-range);
  --range-float: var(--range-range);
  --range-float-text: var(--bg);
}

.health-slider.low {
  --range-range: red;
  --range-range-inactive: var(--range-range);
  --range-float: var(--range-range);
  --range-float-text: white;
}